[Unit]
Description=Cron service based on Condor
After=syslog.target network.target
Wants=network.target

[Service]
Type = forking
ExecStart=/usr/sbin/condor_cron_master
ExecStop=/usr/sbin/condor_cron_off
ExecReload=/usr/sbin/condor_cron_restart
Restart=always
RestartSec=5
StandardOutput=syslog
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target

